/* App.css */

.app {
  text-align: center;
  padding: 20px;
}


.calculator-switch {
  margin-top: 20px;
  background-color: #a52525;
}

.calculator-switch button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-color: #37df53;
}

/* Add additional styling for calculator components if needed */
